/*********************************************

Raving Redactionist CSS.

**********************************************/

/* Just some general syling of the page for aesthetics */
body {
  font-family: Courier, monospace;
  width: 800px;
  margin-left: 100px;
  margin-top: 100px;
}

div {
  margin-top: 1em;
}

/* Redacted elements need to be blanked out */
.redacted {
  background-color: black;
  color: transparent;
  text-decoration: none;
}

/* Revealed elements need to be highlighted because it's a disaster! */
.revealed {
  background-color: transparent;
  text-decoration: underline;
  color: red
}

.secret {

}

.found {
  background-color: yellow;
}

.victory1 {
  color:#313131;
      font-size:30px;
      font-weight: bold;
      position: absolute;
      -webkit-animation:colorchange 4s infinite alternate;
    }

    @-webkit-keyframes colorchange {
      0% {

        color: red;
      }

      10% {

        color: #8e44ad;
      }

      20% {

        color: #1abc9c;
      }

      30% {

        color: #d35400;
      }

      40% {

        color: yellow;
      }

      50% {

        color: #34495e;
      }

      60% {

        color: green;
      }

      70% {

        color: #2980b9;
      }
      80% {

        color: #f1c40f;
      }

      90% {

        color: #2980b9;
      }

      100% {

        color: blue;
      }
    }
  }
