body {
  color: white;
  background-color: black;
  font-size: 1em;
  font-family: Courier, monospace;
  margin-top: 5%;
  margin-left: 5%;
  margin-right:5%;
}

#log2 {
  color: silver;
}

#log3 {
  color: grey;
}

button {
  font-family: Courier, monospace;
  font-size: 0.7em;
  width:100%;
  margin-left: 0px;
  margin-top: 0px;
  height: 2.4em;
}

button:hover {background-color: black; color: white; font-family: Courier, monospace;}

table {
  border-collapse: collapse;
  width: 800px;
}

th, td {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 266px;
}

tr:hover {background-color:grey; color: black;}

table.bars{
  border-collapse: collapse;
  width: 798px;
}
